.sidebar {
    padding: 10px;
    grid-area: n;
    background-color: silver;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.sidebar a.active {
    color: #000;
}
.sidebar a:hover {
    color: #000;
}